body {
    background-color: #ebebeb;
}
a a:hover {
    text-decoration: none;
}
#leftframe {
    float: left;
    width: 250px;
    height: 100vh;
    margin-left: 10px;
    position: relative;
}
.form-signin-position {
    position: relative;
    width: 320px;
    margin-left: 10px;
    display: inline-block;
}
.form-search-position {
    display: inline-block;
}
.entry-detail {
    text-align: right;
    font-size: 0.8em;
    padding: 5px 0px 5px 0px;
}
