<!-- extends base layout -->
{% extends "base.html" %}
{% block content %}
<div class="title">
	<h1><a href ="{{url_for("title", title_id = ttl.id)}}">{{ttl.title_name}}</a></h1>
	<ul>
		{% for entry in entries %}
			<li>{{entry.body}} <i>@<a href="{{url_for('author', nickname = entry.author.nickname)}}">{{entry.author.nickname}}</a></i>{% if g.user.id == entry.author.id %}<a href="{{url_for('delete', entry_id = entry.id)}}">- delete</a> {% endif %}
		{% endfor %}
	</ul>
	{% if g.user.is_authenticated() %}
	<div name="submit_entry">
		<form action="" method="post" name="submit_entry">
			{{form.hidden_tag()}}
			<em>what do you think about <strong>{{ttl.title_name}}</strong></em><br>
			<p>{{form.body(rows = 8, cols = 80)}}</p>
			<p><button class="btn btn-primary" type="submit">save</button></p>
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}