<!-- extends base layout -->
{% extends "base.html" %}
{% block content %}
	<h3>{{ttl.title_name}}</h3>
	<ul>
		{% for entry in entries %}
			<li>{{entry.body}} <i>@<a href="{{url_for('author', nickname = entry.author.nickname)}}">{{entry.author.nickname}}</a></i>{% if g.user.id == entry.author.id %}<a href="{{url_for('delete', entry_id = entry.id)}}">- delete</a> {% endif %}
		{% endfor %}
	</ul>
	{% if g.user.is_authenticated() %}
	<div name="submit_entry">
		<form action="" method="post" name="submit_entry">
			{{form.hidden_tag()}}
			<i>what do you think about {{ttl.title_name}}</i><br>
			<p>{{form.body(rows = 8, cols = 80)}}</p>
			<p><input type="submit" value="save"></p>
		</form>
	</div>
	{% endif %}

{% endblock %}